{{#partial "content"}}
   <body>
   <div class="row">
       <div class="col-md-6">
           <div class="card">
               {{#each addAnimal1}}
               <h4>Name of the animal: {{animalName}}</h4>

               {{/each}}
           </div>

       </div>

   </div>





   </body>

    {{/partial}}