{{#partial "content"}}
    <body>

    <div>
        <h3>Holla! Here are the endangered animals! </h3>
    </div>
        <div class="col-md-6">
            {{#each endangered}}
                <div class="card"  style="background-image: url('images/'); background-size:cover; background-repeat:no-repeat;">
                    <h3>Name of the Endangered Animal: {{name}}</h3>
                    <hr>
                    <p>Health of the Endangered Animals: {{health}}</p>
                    <hr>
                    <p>Age of the Endangered Animals: {{age}}</p>
                    <hr>
                </div>
            {{/each}}
        </div>

    <br>
    <a class="btn btn-info" href="/EndangeredForm">Add another Endangered Animal</a>
    </body>
{{/partial}}

{{> layout.hbs}}