{{#partial "content"}}
    <body style="background-image: url('images/home.jpeg'); background-size:cover; background-repeat:no-repeat;">
    <h1>Welcome to Jungle World.</h1>

    <div class="jumbotron">
        <h3>This is a site that allow rangers to track wildlife sightings in a specific area</h3>
    </div>


    </body>

    {{/partial}}

{{> layout.hbs}}